<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
  <connectionStrings>
    <add name="connection" connectionString="Data Source=DESKTOP-0SR496N;Initial Catalog=Test_db;Integrated Security=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>
